<% provide(:title, "User Dashboard")%>
<%= provide(:h1, "Current User Dashboard")%>
<%= provide(:span, "Current user's bookings.") %>

<%= render "shared/landing"%>

<% if @books.exists? %>
<div class="relative overflow-x-auto mt-6">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-800 uppercase bg-gray-300">
      <tr>
        <th class="px-6 py-6" scope="col">Book ID</th>
        <th class="px-6 py-6" scope="col">Showing Number</th>
        <th class="px-6 py-6" scope="col">Movie Title</th>
        <th class="px-6 py-6" scope="col">Cinema(location)</th>
        <th class="px-6 py-6" scope="col">Schedule</th>
        <th class="px-6 py-6" scope="col">Seat number</th>
        <th class="px-6 py-6" scope="col">Date booked</th>
      </tr>
    </thead>
    <tbody> 
      <% @books.each do |book| %>
        <%= render "dashboard/book", book: book %>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <h1 class="font-semibold text-2xl mt-6">You don't have any bookings yet.</h1>
<% end %>